@font-face {
  font-family: 'ALS Malina';
  src: url('../../../hipseet/fonts/malina-webfont.woff') format('woff'),
  url('../../../hipseet/fonts/malina-webfont.svg#als_malinaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*@mixin fira($style: regular) {
  @if $style == regular {
    font-family: 'fira_sansregular';
  }

  @if $style == bold {
    font-family: 'fira_sansbold';
  }

  @if $style == light {
    font-family: 'fira_sanslight';
  }

  @if $style == medium {
    font-family: 'fira_sansmedium';
  }

}

!*@include fira(); fira(bold)*!*/





