.section__5 {
  background-image: url("../../img/images/bg.jpg");
}

.section__5_title {
  font-family: 'ALS Malina';
  color: $white;
  text-align: center;
  padding-top: 90px;
  font-size: 39px;
  margin: 0;
}

.section__5_accord {
  color: $white;
  padding: 40px 50px 54px 96px;
  margin-bottom: 0px;
}



.section__5_accord_item {
  list-style: inherit;
  font-size: rem(22px);
  margin-bottom: 43px;

  a {
    border-bottom: dashed 2px $white;
    text-decoration: none;
    color: $white;
  }


  h3 {
    font-size: rem(21px);
    font-weight: 400;
    margin-bottom: 0;
    display: inline;
    padding-bottom: 9px;
  }

  h4 {
    font-size: rem(15px);
    font-weight: 400;
    padding-right: 100px;
    margin-top: 18px;
    margin-left: 45px;
  }

  .section__5_accord_item_desc {
    display: none;
  }
}



.section__5_accord_item-active {
  color: $orange;
  margin-bottom: 35px;

  .section__5_accord_item_desc {
    display: none;
  }

  a {
    border: none;
    color: $orange;
  }

  h4 {
    color: $white;
  }
}

#map {
  height: 500px;
  width: 100%;
}





